<div class="span12-12"><h2><i class="fa fa-beer"></i> INSERT LOGO</h2></div>
<div class="span12-12"><h2><%= @dispense_type_name[params[:dispense_type]] -%><small>Subject to Availability</small></h2></div>
<div class="span12-12"><h4>Visit Player1Orlando.com for the most up to date drink lists and keep track of what you've tried.</h4></div>

<div class="span12-12">
	<ul class="unstyled pad pad-top showlines">
		<% if @drinks.count >= 40 %>
			<% @drinks.order(name: :asc).each do |drink| %>
				<li>
					<strong>
						<div class="float-right">ABV <%= drink.abv %>% // <% if drink.price > 0 -%><%= number_to_currency drink.price -%><% end -%></div>
						<%= drink.name -%>
					</strong>
					<div class="small">
						<div class="float-right"><%= drink.beer_style.name -%></div>
						<%= drink.brewery -%>
					</div>
				</li>
			<% end %>
		<% else %>
			<% @drinks.order(name: :asc).each do |drink| %>
				<li>
					<strong class="large">
						<div class="float-right">ABV <%= drink.abv %>% // <% if drink.price > 0 -%><%= number_to_currency drink.price -%><% end -%></div>
						<%= drink.name -%>
					</strong>
					<div>
						<div class="float-right"><%= drink.beer_style.name -%></div>
						<%= drink.brewery -%>
					</div>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>
