<% title "Beer Styles" %>

<!-- Standard Content -->
<div class="content">
	<div class="span12-12"><h2><i class="fa fa-beer"></i> Beer Styles<small>There is more than you know.</small></h2></div>

	<div class="span8-12">
		<ul class="unstyled lined">
			<% @beer_styles.each do |beer_style| %>
				<% if admin_signed_in? -%>
					<li>
						<div class="float-right"><%= link_to 'Edit', edit_beer_style_path(beer_style) %> | <%= link_to 'Destroy', beer_style, method: :delete, data: { confirm: 'Are you sure?' } %></div>
						<strong class="large"><%= link_to beer_style.name, beer_style -%></strong>
					</li>
				<% else %>
					<% if beer_style.drinks.where(:visible => true).count > 0 %>
					<li>
						<strong class="large"><%= link_to beer_style.name, beer_style -%></strong>
					</li>
					<% end %>
				<% end %>
			<% end %>
		</ul>
	</div>

	<div class="span4-12">
		<% if admin_signed_in? %>
		<h5>Admin Options</h5>
		<div class="dq-buttons pad-bottom">
			<%= link_to 'New Beer style', new_beer_style_path, :class => "lnk-button full" %>
		</div>
		<% end %>
		<%= render 'shared/whycraft' %>
	</div>
	
</div>

