<div class="content">
	<div class="span12-12"><h2><i class="fa fa-key"></i> Your Account <small>It's like knowing someone you know.</small></h2></div>
	<div class="span8-12">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
		  <%= devise_error_messages! %>
  		<h4>You know what you got to do.<small>All fields are required.</small></h4>
  		<div class="dq-form">
			<div class="field3-10"><%= f.text_field :first_name, :placeholder => "First Name" %></div>
			<div class="field4-10"><%= f.text_field :last_name, :placeholder => "Last Name" %></div>
			<div class="field3-10"><%= f.text_field :username, :placeholder => "Username" %></div>
			<div class="field10-10"><%= f.email_field :email, :placeholder => "Email Address" %></div>
			<div class="field5-10"><%= f.password_field :password, :placeholder => "Password" %></div>
			<div class="field5-10"><%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>
		</div>

		<h4>Have a Player 1 Membership?</h4>
		<div class="dq-form">
			<div class="field8-10"><%= f.label "Membership Number" -%><%= f.text_field :membership_number, :placeholder => "Your Membership Number" %></div>
			<div class="field2-10"><%= f.label "Points" -%><%= f.text_field :vip_membership_points, :placeholder => "Points", :disabled => true %></div>
		</div>
		
  		<h4>Current Password<small>We need to know your current password to update any info.</small></h4>
  		<div class="dq-form">
			<div class="field5-10"><%= f.password_field :current_password, :placeholder => "Current Password" %></div>
			<div class="dq-buttons">
				<%= f.submit :value => "Update Your Account" %>
			</div>
		</div>
		<% end %>
		
		<% if current_user.badges.count > 0 %>
			<h4>What I've Earned<small>You know, these are my badges bro!</small></h4>
			<div class="pad-bottom">
			<% current_user.badges.each do |badge| %>
				<div class="span2-12"><%= image_tag badge.image, :alt => badge.description, :title => badge.description, :class => "fullwidth_image", :style => "border: none;" -%></div>
			<% end %>
			</div>
		<% end %>
				
		<% if user_signed_in? %>
			<%= render 'shared/activity' %>
		<% end %>
	</div>

	<div class="span4-12">		
		<%= image_tag "/includes/member_levels/#{get_user_rating(current_user)}.png", :class => "fullwidth_image pad-bottom", :style => "border: none;" %>
		
		<% if user_signed_in? %>
			<%= image_tag avatar_url(@user), :class => "fullwidth_image" %>
			<p class="text-right">
				<a href="http://en.gravatar.com/">Change Your Avatar</a>
			</p>
			<%= render "shared/citizen"%>
		<% end %>
				
		
		<div class="dq-buttons pad-bottom">
			<%= link_to "View Your Public Profile", current_user, :class => "lnk-button full grey" %>
		</div>
		
		<h5>Will you share any info?</h5>
		<p>Don't worry we will never share any info that you provide with anyone. We hate those people just as much as you do.</p>
	
		<h5>Unhappy?</h5>
		<p>We are sorry to see you go, but we make it easy to delete your account. Click the button below and your account and all data will be removed from our system. :(</p>

		<div class="dq-buttons">
			<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "full cancel" %>
		</div>
	</div>
</div>
