<div class="content">
	<div class="span12-12"><h2><i class="fa fa-key"></i> Create <small>It's like knowing someone you know.</small></h2></div>
	<div class="span12-12">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>
		<div class="dq-form">
			<div class="field10-10"><%= f.text_field :first_name, :placeholder => "First Name" %></div>
			<div class="field10-10"><%= f.text_field :last_name, :placeholder => "Last Name" %></div>
			<div class="field10-10"><%= f.text_field :username, :placeholder => "Username" %></div>
			<div class="field10-10"><%= f.email_field :email, :placeholder => "Email Address" %></div>
			<div class="field10-10"><%= f.password_field :password, :placeholder => "Password" %></div>
			<div class="field10-10"><%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>
			<div class="dq-buttons">
				<%= f.submit :value => "Create Your Account", :class => "full" %>
			</div>
		</div>
		<% end %>
	</div>
</div>
