<%= form_for(@katy_corner) do |f| %>
	<% if @katy_corner.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@katy_corner.errors.count, "error") %> prohibited this entry from being saved:</h2>

	    <ul>
	    <% @katy_corner.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	
	<h4>You know what you got to do.<small>All fields are required.</small></h4>
	<div class="dq-form">
		<div class="field10-10"><%= f.text_field :title, :placeholder => "Title of Document" %></div>
		<div class="field10-10"><%= f.label :brief -%><%= f.text_area :brief, :placeholder => "Brief", :rows => 10 %></div>
		<div class="field10-10"><%= f.label :body_document, "Acutal Document" -%><%= f.text_area :body_document, :placeholder => "Actual Entry", :rows => 40 %></div>

		<div class="field10-10"><%= f.label :image1, "Image 1 - In document put ##IMAGE1" -%><%= f.file_field :image1 %><%= f.hidden_field :image1_cache %></div>
		<div class="field10-10"><%= f.label :image2, "Image 2 - In document put ##IMAGE2" -%><%= f.file_field :image2 %><%= f.hidden_field :image2_cache %></div>
		<div class="field10-10"><%= f.label :image3, "Image 3 - In document put ##IMAGE3" -%><%= f.file_field :image3 %><%= f.hidden_field :image3_cache %></div>
		<div class="field10-10"><%= f.label :image4, "Image 4 - In document put ##IMAGE4" -%><%= f.file_field :image4 %><%= f.hidden_field :image4_cache %></div>
		<div class="field10-10"><%= f.label :image5, "Image 5 - In document put ##IMAGE5" -%><%= f.file_field :image5 %><%= f.hidden_field :image5_cache %></div>
		<div class="field10-10"><%= f.label :image6, "Image 6 - In document put ##IMAGE6" -%><%= f.file_field :image6 %><%= f.hidden_field :image6_cache %></div>
		<div class="field10-10"><%= f.label :image7, "Image 7 - In document put ##IMAGE7" -%><%= f.file_field :image7 %><%= f.hidden_field :image7_cache %></div>

		<div class="field10-10"><%= f.label :game_score -%><%= f.select :game_score, options_for_select([0,1,2,3,4,5], @drink.game_score), :include_blank => true %></div>


		<div class="dq-buttons">
			<%= f.submit :value => "#{params[:action].humanize} Entry" %>
		</div>
	</div>

<% end %>