<% title @katy_corner.title %>

<div class="content">
	<div class="span12-12"><h2><i class="fa fa-book"></i> Katy's Corner<small>A little slice of gaming.</small></h2></div>
	<div class="span8-12">
		<h4><%= @katy_corner.title -%><small><%= @katy_corner.created_at.to_s(:long) -%></small></h4>
		<div class="text-right">
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style"  addthis:url="<%= katy_corner_url(@katy_corner) -%>" addthis:title="<%= @katy_corner.title -%>">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:count="false"></a>
				<a class="addthis_button_tweet" tw:count="none"></a>
				<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal" pi:pinit:url="http://www.addthis.com/features/pinterest" pi:pinit:media="http://www.addthis.com/cms-content/images/features/pinterest-lg.png"></a>
			</div>
			<!-- AddThis Button END -->
		</div>

		<%= simple_format @katy_corner.body_document.gsub(/##IMAGE1/i, image_tag(@katy_corner.image1, :class => "fullwidth_image") ).gsub(/##IMAGE2/i, image_tag(@katy_corner.image2, :class => "fullwidth_image")).gsub(/##IMAGE3/i, image_tag(@katy_corner.image3, :class => "fullwidth_image")) %>
	</div>
	
	
	<div class="span4-12">
		<% if admin_signed_in? %>
			<h5>Admin Options</h5>
			<div class="dq-buttons pad-bottom">
				<%= link_to 'New Entry', new_katy_corner_path, :class => "lnk-button full" %>
				<%= link_to 'Edit Entry', edit_katy_corner_path(@katy_corner), :class => "lnk-button full" %>
			</div>
		<% end %>
		<%= render 'about' %>

		<% if @katy_corners.offset(1).count > 0 %>
			<h5>Past Issues<small>You know.</small></h5>
			<ul class="unstyled pad">
				<% @katy_corners.offset(1).each do |entry| %>
					<li>
						<strong><%= link_to entry.title, katy_corner_path(entry) -%></strong><br/>
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>