<%= form_for(@drink) do |f| %>
	<% if @drink.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

	    <ul>
	    <% @drink.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	
	<h4>You know what you got to do.<small>All fields are required. <%= @drink.quick_style -%></small></h4>
	<div class="dq-form">
		<div class="field6-10"><%= f.text_field :name, :placeholder => "Drink Name" %><%= f.hidden_field :category_id, :value => "3" %></div>
		<div class="field2-10"><%= f.check_box :visible %><%= f.label :visible, "Visible?" %></div>
		<div class="field2-10"><%= f.check_box :call_out %><%= f.label :call_out, "Call Out?" %></div>

		<div class="field6-10"><%= f.label :brewery %><%= f.text_field :brewery, :placeholder => "Brewery Name" %></div>
		<div class="field2-10"><%= f.label :abv %><%= f.number_field :abv, :placeholder => "ABV", :step => 0.01 %></div>
		<div class="field2-10"><%= f.label :price %><%= f.number_field :price, :placeholder => "Price", :step => "any" %></div>

		<div class="field10-10"><%= f.label :description %><%= f.text_area :description, :placeholder => "Description", :rows => 5 %></div>

		<!-- <div class="field10-10"><%= f.label :brewer_description %><%= f.text_area :brewer_description, :placeholder => "Brewer's Description", :rows => 9 %></div> -->

		<div class="field10-10"><%= f.label :beer_style_id %>
			<%= f.select :beer_style_id, options_from_collection_for_select(BeerStyle.order("name"), "id",   "name", @drink.beer_style_id) %>
		</div>

		<!-- <div class="field5-10"><%= f.label :drink_category_id %>
			<%= f.select :category_id, options_from_collection_for_select(Category.where(:area => "drinks").order("name"), "id",   "name", @drink.category_id) %>
		</div> -->
		<div class="field5-10"><%= f.label :quick_style, "Update Style" %>
			<%= f.select :quick_style, options_for_select(Drink::UPDATE_STYLES, @drink.quick_style), :include_blank => true %>
		</div>
		
		<div class="field5-10"><%= f.label :dispense_type %>
			<%= f.select :dispense_type, options_for_select(Drink::DISPENSE_TYPE, @drink.dispense_type), :include_blank => true %>
		</div>
		
		<div class="field10-10"><%= f.label :drink_image -%><%= f.file_field :drink_image, :placeholder => "Drink Image" %></div>
		<div class="field10-10"><%= f.text_field :remote_drink_image_url, :placeholder => "Or image by remote URL" %></div>

		<div class="field10-10"><%= f.label :image_tv -%><%= f.file_field :image_tv, :placeholder => "TV Menuboard Drink Image (700x700)" %></div>

		<div class="field10-10"><%= f.label "Include in Drink Tracker?" -%><%= f.check_box :tracker %><%= f.label :tracker, "Always earn points, just call it out on tracker?" %></div>

		<div class="dq-buttons">
			<%= f.submit :value => "#{params[:action].humanize} Drink" %>
		</div>
	</div>

<% end %>