<div class="content">
	<div class="span12-12"><h2><i class="fa fa-pencil"></i> Edit Drink <small>Filling out forms area great.</small></h2></div>
	<div class="span8-12">
		<%= render 'form' %>
	</div>

	<div class="span4-12">
		<h5>Site Version</h5>
		<%= image_tag @drink.drink_image, :class => "fullwidth_image pad-bottom" %>

		<h5>TV Screen</h5>
		<%= image_tag @drink.image_tv, :class => "fullwidth_image pad-bottom" %>
		
		<h5>TV Screen URL</h5>
		<%= link_to "Right click and choose copy link", tvboard_bottle_page_url(@drink) -%><br/>
		
		<h5>Admin Options</h5>
		<div class="dq-buttons">
			<%= link_to 'Go Back to Categories', category_path(@drink.category), :class => "lnk-button full" %>
			<%= link_to 'Destroy Drink', @drink, method: :delete, data: { confirm: 'Are you sure?' }, :class => "lnk-button full cancel" %>
		</div>
	</div>
</div>
