<div class="content">
	<div class="span12-12"><h2><i class="fa fa-pencil"></i> Edit All Drinks <small>Filling out forms area great.</small></h2></div>
	<div class="span12-12">

<%= form_for :drink, :url => update_all_drinks_path, :html => { :method => :put } do %>
<div class="dq-form">
    <% @drinks.each do |drink| %>
      <%= fields_for "drink[]", drink do |drink_fields| %>
		<div class="field10-10"><h4 class="mini-bottom-margin"><%= link_to drink.name, edit_drink_path(drink) %> (<%= drink.dispense_type %>)</h4></div>

		<div class="field5-10"><%= f.label :drink_category_id %>
			<%= f.select :category_id, options_from_collection_for_select(Category.where(:area => "drinks").order("name"), "id",   "name", @drink.category_id) %>
		</div>
		<div class="field2-10"><%= drink_fields.label :visible %><%= drink_fields.check_box :visible %><%= drink_fields.label :visible, "Visible?" %></div>
		<div class="field2-10"><%= drink_fields.label :call_out %><%= drink_fields.check_box :call_out %><%= drink_fields.label :call_out, "Call Out?" %></div>
		<div class="field1-10"><%= drink_fields.label :tracker %><%= drink_fields.check_box :tracker %><%= drink_fields.label :tracker, "Track?" %></div>
		<div class="field10-10">&nbsp;</div>
      <% end %>
    <% end %>
	<div class="dq-buttons">
		<%= submit_tag %>
	</div>
</div>
<% end %>

	</div>
</div>
