<% title "TV Beer" %>


<div id="screen_liner">


	<div class="slide">
		<div class="screen_header">
			<h1><i class="beer"></i></h1>
			<h2>bottle</h2>
		</div>


		<%= image_tag @drink.image_tv %>

		<div class="screen_description">
			<h4><%= @drink.name -%></h4>
			<div class="screen_brewery"><%= @drink.brewery -%></div>
			<div class="screen_style"><%= @drink.beer_style.name -%></div>
			<%= raw "<div class=\"screen_abv\">#{number_to_percentage @drink.abv, precision: 2}</div>" unless @drink.abv.blank? %>
			<% if @drink.price > 0 -%><div class="screen_price"><%= number_to_currency @drink.price -%></div><% end -%>
		</div>
	</div>
			
			


</div>

