<!-- Standard Content -->
<div class="content">
	<div class="span12-12"><h2><i class="fa fa-pencil"></i> Users<small>Not visible to users.</small></h2></div>

	<div class="span8-12">
		<%= render 'shared/user_search_form' %>

		<ul class="unstyled lined">
			<% @users.each do |user| %>
				<% if user.membership_number.blank? && user.emp_code.blank? %>
					<li class="text-right">
						<%= "VIP: #{user.membership_number} |" unless user.membership_number.blank? -%>
						<%= "Emp: #{user.emp_code} |" unless user.emp_code.blank? -%>
						<%= link_to "Profile", user_path(user) -%> |
						ID:&nbsp;<%= user.id -%>
						<div class="float-left">
							<%= link_to "#{user.first_name} #{user.last_name} (#{user.email})", edit_user_path(user) -%>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>

	<div class="span4-12">
		<% if admin_signed_in? %>
			<h5>Admins</h5>
			<ul class="unstyled">
			<% @admins.each do |admin| %>
				<li class="text-right">
				ID:&nbsp;<%= admin.id -%>
				<div class="float-left">
				<%= "#{admin.first_name} #{admin.last_name}" -%>
				</div>
				</li>
			<% end %>
			</ul>

			<h5>Employees</h5>
			<% @users.each do |user| %>
				<% unless user.emp_code.blank? %>
					<li class="text-right">
						<%= link_to "Profile", user_path(user) -%> |
						ID:&nbsp;<%= user.id -%>
						<div class="float-left">
							<%= link_to "#{user.first_name} #{user.last_name}", edit_user_path(user) -%>
						</div>
					</li>
				<% end %>
			<% end %>

			<h5>VIP Members</h5>
			<% @users.each do |user| %>
				<% unless user.membership_number.blank? %>
					<li class="text-right">
						<%= link_to "Profile", user_path(user) -%> |
						ID:&nbsp;<%= user.id -%>
						<div class="float-left">
							<%= link_to "#{user.first_name} #{user.last_name}", edit_user_path(user) -%>
						</div>
					</li>
				<% end %>
			<% end %>


		<% end %>
	</div>
	
</div>

