<div class="content">
	<div class="span12-12"><h2><i class="fa fa-key"></i> Forgot My Password <small>It's okay. It happens to us all.</small></h2></div>
	<div class="span8-12">
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		<%= devise_error_messages! %>
		<h4>You know what you got to do.<small>All fields are required.</small></h4>
		<div class="dq-form">
			<div class="field10-10"><%= f.text_field :email, :placeholder => "Email" %></div>
			<div class="dq-buttons">
				<%= f.submit :value => "Send me reset instructions" %>
			</div>
		</div>
		 <% end %>
	</div>
	
	<div class="span4-12">
		<h5>So what does creating an account do?</h5>
		<p>Well it helps us learn what kind of beers you like so we can work on getting more of what you like. It also helps you keep track of what you have had here at Player 1. And soon we will be adding more features.</p>
		<div class="dq-buttons">
			<%- if controller_name != 'sessions' %>
			  <%= link_to "Sign in", new_session_path(resource_name), :class => "lnk-button full grey" %><br />
			<% end -%>

			<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
			  <%= link_to "Sign up", new_registration_path(resource_name), :class => "lnk-button full grey" %><br />
			<% end -%>
		</div>
	</div>
</div>
