<h4>Your Activity<small>You've been busy!</small></h4>
<ul class="unstyled lined">
	<% @user.timelines.order(created_at: :desc).page.each do |timeline| %>
		<% if timeline.nature.downcase == "create" %>
			<li><%= @user.first_name.capitalize -%> created his account with Player 1 on <%= timeline.created_at.to_s(:quick_date) -%>. We called him <strong>awesome</strong> that day!</li>
		<% elsif timeline.nature.downcase == "drink" %>
			<li>Just had a good drink of <%= link_to timeline.drink.name, drink_path(timeline.drink) -%> at  <%= timeline.created_at.to_s(:quick_date) -%>.</li>
		<% elsif timeline.nature.downcase == "drink_rate" %>
			<li>Rated the drink <%= link_to timeline.drink.name, drink_path(timeline.drink) -%> a <%= @user.ratings.where(:drink_id => timeline.drink).first.rating -%> out of 5 at <%= timeline.created_at.to_s(:quick_date) -%>.</li>
		<% elsif timeline.nature.downcase == "game_rate" %>
			<li>Rated the game <%= link_to timeline.game.name, game_path(timeline.game) -%> a <%= @user.ratings.where(:drink_id => timeline.drink).first.rating -%> out of 5 at <%= timeline.created_at.to_s(:quick_date) -%>.</li>
		<% elsif timeline.nature.downcase == "checkin" %>
			<li><%= @user.first_name.capitalize -%> checked in at Player 1 on <%= timeline.created_at.to_s(:quick_date) -%>.</li>
		<% else %>
			<li>On <%= timeline.created_at.to_s(:quick_date) -%> they <%= timeline.nature -%>.</li>
		<% end %>
	<% end %>
</ul>
