<div class="text-right">
<!-- AddThis Button BEGIN
<div class="addthis_toolbox addthis_default_style"  addthis:url="<%= url_pass -%>" addthis:title="<%= title_page -%> - Player 1">
	<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	<a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:count="false"></a>
	<a class="addthis_button_tweet" tw:count="none"></a>
</div>
AddThis Button END -->


	<div class="g-plusone" data-size="medium" data-href="<%= url_pass -%>"></div>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= url_pass -%>" data-text="Player 1's got <%= title_page -%>" data-via="player1orlando" data-related="player1orlando" data-hashtags="player1orlando">Tweet</a>
	<div class="fb-like" data-href="<%= url_pass -%>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
</div>

