<% title "Events" %>

<!-- Standard Content -->
<div class="content">
	<div class="span12-12"><h2><i class="fa fa-calendar"></i> Events<small>Planning your mission sometimes will help.</small></h2></div>

	<div class="span8-12">
		<!-- Current Events -->
		<% unless @current_events.blank? %>
			<h3>Current Event<small>Today is here.</small></h3>
			<div class="callout_box">
				<ul class="unstyled pad">
					<% @current_events.each do |event| %>
					<li>
						<strong class="large"><%= event.title -%></strong>
						<%= simple_format event.description %>
						<div class="text-right">
							<!-- AddThis Button BEGIN -->
							<div class="addthis_toolbox addthis_default_style"  addthis:url="<%= event_url(event) -%>" addthis:title="<%= event.title -%>">
							<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
							<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
							<a class="addthis_button_tweet"></a>
							<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal" pi:pinit:url="http://www.addthis.com/features/pinterest" pi:pinit:media="http://www.addthis.com/cms-content/images/features/pinterest-lg.png"></a>
							</div>
							<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
							<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52a9e7305b09648a"></script>
							<!-- AddThis Button END -->
						</div>
						<% if admin_signed_in? -%><div class="text-right"><%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></div><% end -%>
					</li>
					<% end %>
				</ul>
			</div>
		<% end %>
		

		<!-- Upcoming Events -->
		<% unless @upcoming_events.blank? %>
			<h4>Upcoming Events<small>They will be here soon. Be prepared.</small></h4>
			<ul class="unstyled pad">
				<% @upcoming_events.each do |event| %>
				<li>
					<strong><%= event.title -%></strong>
					<%= simple_format event.description %>
					<div class="text-right">
						<!-- AddThis Button BEGIN -->
						<div class="addthis_toolbox addthis_default_style"  addthis:url="<%= event_url(event) -%>" addthis:title="<%= event.title -%>">
						<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
						<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
						<a class="addthis_button_tweet"></a>
						<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal" pi:pinit:url="http://www.addthis.com/features/pinterest" pi:pinit:media="http://www.addthis.com/cms-content/images/features/pinterest-lg.png"></a>
						</div>
						<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
						<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52a9e7305b09648a"></script>
						<!-- AddThis Button END -->
					</div>
					<% if admin_signed_in? -%><div class="text-right"><%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></div><% end -%>
				</li>
				<% end %>
		<% end %>
		
		
		<!-- Generic Events -->
		<% unless @generic_events.blank? %>
			<h4>Everyday Events<small>Yep whenever that day is.</small></h4>
			<ul class="unstyled pad">
				<% @generic_events.each do |event| %>
				<li>
					<strong>
						Every 
						<% if event.valid_sunday -%>Sunday, <% end -%>
						<% if event.valid_monday -%>Monday, <% end -%>
						<% if event.valid_tuesday -%>Tuesday, <% end -%>
						<% if event.valid_wednesday -%>Wednesday, <% end -%>
						<% if event.valid_thursday -%>Thursday, <% end -%>
						<% if event.valid_friday -%>Friday, <% end -%>
						<% if event.valid_saturday -%>Saturday, <% end -%>
						<%= event.title -%></strong>
					<%= simple_format event.description %>
					<div class="text-right">
						<!-- AddThis Button BEGIN -->
						<div class="addthis_toolbox addthis_default_style"  addthis:url="<%= event_url(event) -%>" addthis:title="<%= event.title -%>">
						<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
						<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
						<a class="addthis_button_tweet"></a>
						<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal" pi:pinit:url="http://www.addthis.com/features/pinterest" pi:pinit:media="http://www.addthis.com/cms-content/images/features/pinterest-lg.png"></a>
						</div>
						<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
						<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52a9e7305b09648a"></script>
						<!-- AddThis Button END -->
					</div>
					<% if admin_signed_in? -%><div class="text-right"><%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></div><% end -%>
				</li>
				<% end %>
			</ul>
		<% end %>
	</div>

	<div class="span4-12">
		<% if admin_signed_in? %>
			<h5>Admin Options</h5>
			<div class="dq-buttons pad-bottom">
				<%= link_to 'New Event', new_event_path, :class => "lnk-button full" %>
			</div>
		<% end %>

		<%= render 'sidebar' %>
	</div>

</div>
