<% title "#{@event.title} Event" %>

<!-- Standard Content -->
<div class="content">
	<div class="span12-12"><h2><i class="fa fa-calendar"></i> Events<small>Planning your mission sometimes will help.</small></h2></div>

	<div class="span8-12">
		<strong class="large"><%= @event.title -%></strong>
		<%= simple_format @event.description %>
		<div class="text-right">
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style"  addthis:url="<%= event_url(@event) -%>" addthis:title="<%= @event.title -%>">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:count="false"></a>
				<a class="addthis_button_tweet" tw:count="none"></a>
				<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal" pi:pinit:url="http://www.addthis.com/features/pinterest" pi:pinit:media="http://www.addthis.com/cms-content/images/features/pinterest-lg.png"></a>
			</div>
			<!-- AddThis Button END -->
		</div>
	</div>

	<div class="span4-12">
		<% if admin_signed_in? %>
			<h5>Admin Options</h5>
			<div class="dq-buttons pad-bottom">
				<%= link_to 'New Event', new_event_path, :class => "lnk-button full" %>
				<%= link_to 'Edit', edit_event_path(@event), :class => "lnk-button full" %>
				<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "lnk-button full cancel" %>
			</div>
		<% end %>
		
		<%= render "sidebar" %>
	</div>

</div>