<% title "Beer. Games. Music." %>

<% if admin_signed_in? %>
<div class="content">
	<div class="span12-12"><h2><i class="fa fa-tachometer"></i> Admin Interface<small>Your part of a special group.</small></h2></div>

	<div class="span8-12">
		
		<h4><i class="fa fa-arrow-down"></i> 7 Worst Performing Drinks<small>Only displaying drinks with at least one rating.</small></h4>
		<ul class="unstyled lined">
			<% @drinks.where("average > ?", 0).order(average: :asc).limit(7).each do |drink| %>
				<li class="text-right"><div class="float-left"><%= drink.name %></div> Average User Rating: <%= drink.average_rating %></li>
			<% end %>
		</ul>
		<br/>
		
		<h4><i class="fa fa-arrow-up"></i> 20 Best Performing Drinks<small>Only displaying drinks with at least one rating.</small></h4>
		<ul class="unstyled lined">
			<% @drinks.where("average > ?", 0).order(average: :desc).limit(20).each do |drink| %>
				<li class="text-right"><div class="float-left"><%= drink.name %></div> Average User Rating: <%= drink.average_rating %></li>
			<% end %>
		</ul>
		<br/>
		
		<h4><i class="fa fa-calendar"></i> 20 Drinks Popular This Week<small>Based on drink tracker data.</small></h4>
		<ul class="unstyled lined">
			<% @tracked.limit(20).each do |track| %>
				<li class="text-right"><div class="float-left"><%= track.drink.name %></div> Tracked: <%= track.drinks_count -%> | Rating: <%= track.drink.average_rating %></li>
			<% end %>
		</ul>
		
	</div>

	<div class="span4-12">
		<h5>Basic System Stats</h5>
		<ul class="unstyled lined text-right">
			<li><strong class="float-left"> Accounts in System:</strong> <%= User.count -%> users</li>
			<li><strong class="float-left"> Drinks in System:</strong> <%= Drink.count -%> drinks</li>
			<li><strong class="float-left"> Games in System:</strong> <%= Game.count -%> games</li>
			<li><strong class="float-left"> Ratings in System:</strong> <%= Rating.count -%> ratings</li>
			<li><strong class="float-left"> Discounts Pending:</strong> <%= Discount.where(:used => false).count -%> discounts</li>
		</ul>
	</div>
</div>
<% else %>


<!-- Begin Generic User Homepage -->

<div class="no-mobile hero">
	<div class="content">
		<div class="span9-12">
			<div id="hero_slogan">
				<h2>Games. Beers. Music.</h2>
				<h1>Done.</h1>
		
			</div>
		</div>
		<div class="span3-12">
			<h5 class="text-center">Open Beta Hours</h5>
			<ul class="unstyled small link-white text-right">
				<li><span class="float-left">Sunday</span> 4pm - 2am</li>
				<li><span class="float-left">Monday</span> 5pm - 2am</li>
				<li><span class="float-left">Tuesday</span> 5pm - 2am</li>
				<li><span class="float-left">Wednesday</span> 5pm - 2am</li>
				<li><span class="float-left">Thursday</span> 5pm - 2am</li>
				<li><span class="float-left">Friday</span> 5pm - 2am</li>
				<li><span class="float-left">Saturday</span> 4pm - 2am</li>
			</ul>
	
			<p class="bump-top small"><a href="https://www.google.com/maps/preview#!q=Player+1+Video+Game+Bar%2C+Palm+Parkway%2C+Orlando%2C+FL&data=!4m15!2m14!1m13!1s0x88dd80166e641ad5%3A0x68e1e70c237c9923!3m8!1m3!1d3103!2d-81.5003844!3d28.3853004!3m2!1i1280!2i679!4f13.1!4m2!3d28.3847!4d-81.500008" class="link-white" style="display: block;"><i class="float-left fa fa-3x fa-map-marker"></i> 8562 Palm Pkwy<br/>Orlando, FL 32836</a></p>
		</div>
	</div>
</div>

<div class="no-mobile thegist">
	<div class="content">
		<div class="span12-12">
			<ul class="unstyled essentials">
				<li class="title"><h3>We've got what<br/>a gamer needs.</h3></li>
				<li><a href="/food"><i class="fa fa-cutlery"></i> Food</a></li>
				<li><a href="/music"><i class="fa fa-music"></i> Music</a></li>
				<li><a href="/play"><i class="fa fa-gamepad"></i> Consoles</a></li>
				<li><a href="/beverages"><i class="fa fa-beer"></i> Drinks</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="content">	
	<div class="span6-12">


		<!-- Mobile Only Buttons -->
		<div class="only-mobile">
		<% if user_signed_in? && current_user.has_membership? %>
			<div class="span12-12">
				<div class="dq-buttons pad-bottom">
					<% unless current_user.timelines.where(:nature => "checkin").where(:created_at => Time.zone.now.beginning_of_day...Time.zone.now.end_of_day).count > 0 %>
						<%= link_to 'Citizen Checkin', citizen_checkin_path, :class => "lnk-button full" %>
					<% end %>
					<%= link_to "Bartender Choice of Drink", bartender_choice_page_path, :class => "lnk-button full" %>
					<%= link_to "View the Tap List", taps_path, :class => "lnk-button full grey" %>
				</div>
			</div>
		<% elsif user_signed_in? && !current_user.membership_number.blank? %>
			<div class="span12-12">
				<div class="dq-buttons pad-bottom">
					<% unless current_user.timelines.where(:nature => "checkin").where(:created_at => Time.zone.now.beginning_of_day...Time.zone.now.end_of_day).count > 0 %>
						<%= link_to 'VIP Member Checkin', process_vip_checkin_path, :class => "lnk-button full" %>
					<% end %>
					<%= link_to "Bartender Choice of Drink", bartender_choice_page_path, :class => "lnk-button full" %>
					<%= link_to "View the Tap List", taps_path, :class => "lnk-button full grey" %>
				</div>
			</div>
		<% elsif user_signed_in? %>
			<div class="span12-12">
				<div class="dq-buttons pad-bottom">
					<%= link_to "Bartender Choice of Drink", bartender_choice_page_path, :class => "lnk-button full" %>
					<%= link_to "View the Tap List", taps_path, :class => "lnk-button full grey" %>
				</div>
			</div>
		<% else %>
			<div class="span12-12">
				<div class="dq-buttons pad-bottom">
					<%= link_to "View the Tap List", taps_path, :class => "lnk-button full grey" %>
				</div>
			</div>
		<% end %>
		</div>
		<!-- End Mobile Only Buttons -->
		
		
		<% unless @drinks.blank? %>
			<h4><i class="fa fa-beer"></i> Recommended Drinks</h4>
			<ul class="unstyled pad">
				<% @drinks.each do |drink| %>
					<li><strong class="large"><div class="thumbnail-image"><%= image_tag drink.drink_image.thumb -%></div> <%= link_to drink.name, drink_path(drink) -%></strong><%= simple_format drink.description -%></li>
				<% end %>

				<% if user_signed_in? %>
				<% random_drink = find_random_drink(current_user)%>
					<li><strong class="large"><div class="thumbnail-image"><%= image_tag random_drink.drink_image.thumb -%></div> <%= link_to random_drink.name, drink_path(random_drink) -%></strong><%= simple_format random_drink.description -%></li>
				<% end %>
			</ul>
			<p class="small">Subject to availability.</p><br/>
		<% end %>

		
		<% unless @current_events.blank? %>
			<h4><i class="fa fa-calendar"></i> Events</h4>
			<ul class="unstyled pad">
				<% @current_events.each do |event| %>
				<li>
					<strong class="large"><%= event.title -%></strong>
					<% if event.starts_at >= (Time.now + 1.day) %>
						<div class="small"><%= event.starts_at.to_s(:long) -%> to <%= event.ends_at.to_s(:short) -%></div>
					<% elsif "event.valid_#{Time.now.strftime('%A').downcase}?" %>
						<div class="small">Every <%= Time.now.strftime('%A').capitalize -%></div>
					<% end %>
					<%= simple_format event.description %>
					<%= render 'shared/social', url_pass: event_url(event), title_page: event.title %>
				</li>
				<% end %>
			</ul>
		<% end %>
		
		<p><%= link_to "Player 1 Rules & Age Restrictions", rules_page_path -%>. Drink responsibly.</p>
	</div>
	
	<div class="span6-12">

		<h4>Player 1 is the ultimate video game lounge experience!</h4>
		<p>After four decades of Video Gaming a few things are clear to us:</p>
		<ul class="pad">
			<li>Arcade games must be played in their original format- joysticks, buttons, and a lo-rez tv screen in a big custom cabinet!</li>
			<li>Playing online has it’s drawbacks, nothing beats playing against opponents sitting across the room.</li>
			<li>Video Games deserve a place to celebrate the art and history of the #1 form of entertainment in the world.</li>
			<li>We like Beer…ales to lagers and everything in between!</li>
		</ul><br/>


		<% unless @katy_corner.nil? %>
			<h4>Katy's Corner</h4>
			<% unless @katy_corner.image1.blank? %>
				<%= link_to (image_tag @katy_corner.image1, :class => "fullwidth_image"), katy_corner_path(@katy_corner) %>
			<% end %>
			<strong class="large"><%= link_to @katy_corner.title, katy_corner_path(@katy_corner) -%></strong><br/>
			<%= simple_format @katy_corner.brief %>
		<% end %>


		<script src="/includes/jquery.rss.js"></script></head>
		<script>
			jQuery(function($) {
				$("#rss-feeds").rss(
					"https://www.facebook.com/feeds/page.php?format=rss20&id=197099333702416",
					{
						limit: 1,
						layoutTemplate: "<div class='feed-container'>{entries}</div>",
						entryTemplate: '<p>{body}</p><p class="small text-right">Posted {date}</p>'
					}
				)
			})
		</script>
		<h4>Latest from Facebook</h4>
	    <span id="rss-feeds"></span>

	</div>
	
</div>
<% end %>
