<div class="span12-12">
<% if user_signed_in? && current_user.has_membership? %>
		<div class="dq-buttons pad-bottom">
			<% unless current_user.timelines.where(:nature => "checkin").where(:created_at => Time.zone.now.beginning_of_day...Time.zone.now.end_of_day).count > 0 %>
				<%= link_to '<i class="fa fa-check-square-o"></i> Citizen Checkin'.html_safe, citizen_checkin_path, :class => "lnk-button full grey" %>
			<% end %>
			<% if user_signed_in? && current_user.has_membership? && current_user.membership_number.blank? %>
				<%= link_to "Citizen Rewards (#{current_user.lifetime_points - current_user.used_points} points)", rewards_path, :class => "lnk-button full grey" -%>
			<% end %>
		</div>
<% elsif user_signed_in? && !current_user.membership_number.blank? %>
		<div class="dq-buttons pad-bottom">
			<% unless current_user.timelines.where(:nature => "checkin").where(:created_at => Time.zone.now.beginning_of_day...Time.zone.now.end_of_day).count > 0 %>
				<%= link_to '<i class="fa fa-check-square-o"></i> VIP Member Checkin'.html_safe, process_vip_checkin_path, :class => "lnk-button full grey" %>
			<% end %>
		</div>
<% end %>


<%= form_tag drinks_path, method: :get do %>
<div class="dq-form"><!-- see75qwt5period$ -->
	<div class="field10-10"><%= text_field_tag :query, params[:query], :placeholder => "Search for a Drink" %></div>
	<div class="dq-buttons">
		<%= link_to '<i class="fa fa-list"></i> Tap List'.html_safe, taps_path, :class => "lnk-button" %>
		<button><i class="fa fa-search"></i> Search Drinks</button>
	</div>
</div>
<% end %>


<div class="dq-buttons small">
	<%= link_to '<i class="fa fa-info"></i> Location Info'.html_safe, infos_page_path, :class => "lnk-button" -%>
	<%= link_to '<i class="fa fa-camera-retro"></i> Gallery'.html_safe, galleries_path, :class => "lnk-button" -%>

	<% if user_signed_in? -%>
		<%= link_to '<i class="fa fa-bullhorn"></i> Try A New Drink'.html_safe, bartender_choice_page_path, :class => "lnk-button" %>
		<%= link_to '<i class="fa fa-beer"></i> Drink Tracker'.html_safe, trackers_path, :class => "lnk-button" -%>
	<% else %>
		<%= link_to '<i class="fa fa-user"></i> Sign In'.html_safe, new_user_session_path, :class => "lnk-button full" -%>
	<% end %>

	<h5>Want to take a bottle home?</h5>
	<p>Player 1 now has a To-Go option for those on the run or wanting to continue the party at home! Order by phone or with our lovely game tenders located in the front of the bar! You can order as few as one beer, or as many as you want, create your own sick pack, we've got you covered! All to-go orders will receive an additional 10% off their entire order!As an added bonus, Members who have reached new levels in our membership program will use their discount perks instead!</p>
	<p>Call 407.778.4815 to order a bottle and come pick it up.</p>

	<!-- <a class="lnk-button" href="/food"><i class="fa fa-cutlery"></i> Food</a> -->
	<!-- <%= link_to '<i class="fa fa-gamepad"></i> Games'.html_safe, play_path, :class => "lnk-button" -%> -->

	<% if user_signed_in? -%>
		<%= link_to 'View Full Site', root_path(:mobile => 0), :class => "lnk-button transparent" -%>
		<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "lnk-button transparent" -%>
	<% else %>
		<%= link_to 'View Full Site Instead', root_path(:mobile => 0), :class => "lnk-button full transparent" -%>
	<% end %>
</div>

</div>
