<% title "What's on Tap" %>

<div class="content">
	<div class="span12-12"><h2><i class="fa fa-beer"></i> On Tap<small>Let's go right down the line.</small></h2></div>
	<div class="span8-12">

		<ul class="unstyled lined">
			<% (1..@total_taps.to_i).each do |i| %>
				<li>
					<h4 class="thumbnail-image" style="height: 70px">#<%= i -%></h4>
					<% if @drinks.where(:tab_index => i).count > 0 %>
						<% drink = @drinks.where(:tab_index => i).first %>
						<strong><%= link_to drink.name, drink_path(drink) -%></strong>
						<%= simple_format drink.description %>
						
						<% if admin_signed_in? %>
							<div class="dq-buttons">
								<%= link_to 'Remove Drink from This Tap', tap_path(drink.id), method: :delete, data: { confirm: 'Are you sure?' } %>
							</div>
						<% end %>
					<% else %>
						<% if admin_signed_in? %>
							<%= form_tag taps_path, method: :post do %>
							<%= hidden_field_tag :tap_index, i %>
							<div class="dq-form pad-bottom">
								<div class="field10-10"><%= select_tag :drink_id, options_from_collection_for_select(@drinks.order("name"), "id",   "name"), prompt: "Select a drink" %></div>
								<div class="dq-buttons">
									<%= submit_tag "Place Drink on This Line", name: nil %>
								</div>
							</div>
							<% end %>
						<% else %>
							<p>Nothing on this tap. Check back.</p>
						<% end %>
					<% end %>
				</li>
			<% end %>
		</ul>
		
	</div>

	<div class="span4-12">
		<%= render 'shared/whycraft' %>
	</div>
</div>
		