<div class="content">
	<div class="span12-12"><h2><i class="fa fa-key"></i> Please Sign In <small>So we get to know each other again..</small></h2></div>
	<div class="span8-12">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<h4>You know what you got to do.<small>All fields are required.</small></h4>
		<div class="dq-form">
			<div class="field10-10"><%= f.email_field :email, :placeholder => "Email Address" %></div>
			<div class="field5-10"><%= f.password_field :password, :placeholder => "Password" %></div>
		    <% if devise_mapping.rememberable? -%>
		      <div class="field5-10"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		    <% end -%>
			<div class="dq-buttons">
				<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
				  <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "lnk-button secondary" %><br />
				<% end -%>
				<%= f.submit :value => "Sign In" %>
			</div>
		</div>
		<% end %>
	</div>
	
	<div class="span4-12">
		<h5>Will you share any info?</h5>
		<p>Don't worry we will never share any info that you provide with anyone. We hate those people just as much as you do.</p>
	
		<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
		<h5>So what does creating an account do?</h5>
		<p>Well it helps us learn what kind of beers you like so we can work on getting more of what you like. It also helps you keep track of what you have had here at Player 1. And soon we will be adding more features.</p>
		<div class="dq-buttons">
			<%= link_to "Create an Account", new_registration_path(resource_name), :class => "lnk-button full" %><br />
		</div>
		<% end -%>

	</div>
</div>
