<!-- Standard Content -->
<div class="content">
	<% if @cat_type == "drinks" %>
		<% title "Drinks" %>
		<div class="span12-12"><h2><i class="fa fa-beer"></i> Drinks<small>Gaming without poitions...wrong.</small></h2></div>
	<% elsif @cat_type == "games" %>
		<% title "Games" %>
		<div class="span12-12"><h2><i class="fa fa-gamepad"></i> Games<small>Achievement Unlocked!</small></h2></div>
	<% end %>

	<div class="span8-12">
		<% if params[:callout]? %>
			<h4>Called Out Items<small>These appear on the frontpage of the site.</small></h4>
		<% else %>
			<h4>Hidden Items<small>Don't worry it's not the end of the world.</small></h4>
		<% end %>
		
		<ul class="unstyled lined">
			<% if @cat_type == "drinks" %>
				<% @all_hidden.each do |drink| %>
					<li><div class="float-right">In <%= drink.category.name -%></div> <strong><%= link_to drink.name, edit_drink_path(drink) -%></strong></li>
				<% end %>
			<% elsif @cat_type == "games" %>
				<% @all_hidden.each do |game| %>
					<li><div class="float-right">In <%= game.category.name -%></div> <strong><%= link_to game.name, edit_game_path(game) -%></strong></li>
				<% end %>
			<% end %>
		</ul>
	</div>

	<div class="span4-12">
		<% if @cat_type == "drinks" %>
			<% if admin_signed_in? %>
				<h5>Admin Options</h5>
				<div class="dq-buttons pad-bottom">
					<%= link_to 'Back', beverages_path, :class => "lnk-button full new" %>
				</div>
			<% else %>
				<%= render 'shared/whycraft' %>
			<% end %>
		<% elsif @cat_type == "games" %>
			<% if admin_signed_in? %>
				<h5>Admin Options</h5>
				<div class="dq-buttons">
					<%= link_to 'Back', play_path, :class => "lnk-button full new" %>
				</div>
			<% else %>
				<%= render 'shared/wannaplay' %>
				<h5>Coin Op Classics</h5>
				<p>An ever-changing selection of classic arcade and pinball machines surround the bar, showcasing the best from the coin-op era of gaming with no need for any coins, play as much as you like.</p>
				<h5>And of course</h5>
				<p>Atari 2600/5200, Colecovision, NES, Sega Genesis, SNES, Nintendo64, Sega Saturn, Playstation 1, Sega Dreamcast, PS2, PS3, X360, and PC. But who's counting.</p>
			<% end %>
		<% end %>
	</div>
</div>

</div>