<!-- Standard Content -->
<div class="content">
	<% if @cat_type == "drinks" %>
		<% title "Drinks" %>
		<div class="span12-12"><h3><i class="fa fa-beer"></i> Drinks<small>Gaming without poitions...wrong.</small></h3></div>
	<% elsif @cat_type == "games" %>
		<% title "Games" %>
		<div class="span12-12"><h3><i class="fa fa-gamepad"></i> Games<small>Achievement Unlocked!</small></h3></div>
	<% end %>

	<div class="span12-12">
		<h4>Choose a menu item<small>Don't worry it's not the end of the world.</small></h4>
		
		<% if @cat_type == "drinks" %>
			<%= render 'shared/drink_search_form' %>

			<ul class="unstyled pad">
				<% @drink_update_styles.each do |name, value| %>
					<li><strong class="large"><%= link_to name, update_beverages_path(:update_style => value) -%></strong></li>
				<% end %>

				<% @drink_dispense_styles.each do |name, value| %>
					<li><strong class="large"><%= link_to name, dispense_beverages_path(:dispense_type => value) -%></strong></li>
				<% end %>
			</ul>
		<% elsif @cat_type == "games" %>
			<%= render 'shared/game_search_form' %>
			<ul class="unstyled pad-top">
				<% @categories.where(:visible => true).each do |category| %>
					<li><strong class="large"><%= link_to category.name, category_path(category) -%></strong><p class="small"><%= category.description -%></p></li>
				<% end %>
			</ul>
		<% end %>
		
	</div>

</div>

