<% title @category.name %>

<!-- Standard Content -->
<div class="content">
	<% if @category.area == "drinks" %>
		<div class="span12-12"><h2><i class="fa fa-beer"></i> Drinks<small>Gaming without poitions...wrong.</small></h2></div>
	<% elsif @category.area == "games" %>
		<div class="span12-12"><h2><i class="fa fa-gamepad"></i> Games<small>Achievement Unlocked!</small></h2></div>
	<% end %>
	
	<div class="span12-12">
		<h4><%= @category.name -%><small><%= @category.description -%></small></h4>
		
		<ul class="unstyled">
			<% if @category.area == "drinks" %>
				<% @category.drinks.where(:visible => true).order(name: :asc).each do |drink| %>
					<% if drink.call_out? %>
					<li class="callout_box">
					<% else %>
					<li>
					<% end %>
						<strong class="large"><div class="thumbnail-image"><%= image_tag drink.drink_image.thumb -%></div>  <%= link_to drink.name, drink_path(drink) -%></strong><%= simple_format drink.description -%>
					</li>
				<% end %>
			<% elsif @category.area == "games" %>
				<% @category.games.where(:visible => true).order(name: :asc).each do |game| %>
					<li>
						<strong class="large"><div class="thumbnail-image"><%= image_tag game.cover_art.thumb -%></div>  <%= link_to game.name, game_path(game) -%></strong><%= simple_format truncate game.description, length: 128 -%>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
	
	<div class="span12-12">
		<% if @category.area == "drinks" %>
			<%= render 'shared/drink_search_form' %>
				<div class="dq-buttons pad-bottom">
					<%= link_to 'Go Back', beverages_path, :class => "lnk-button full" %>
				</div>
		<% elsif @category.area == "games" %>
			<%= render 'shared/game_search_form' %>
				<div class="dq-buttons pad-bottom">
					<%= link_to 'Go Back', play_path, :class => "lnk-button full" %>
				</div>
		<% end %>
	</div>
	
</div>