<% title @category.name %>

<!-- Standard Content -->
<div class="content">
	<% if @category.area == "drinks" %>
		<div class="span12-12"><h2><i class="fa fa-beer"></i> Drinks<small>Gaming without poitions...wrong.</small></h2></div>
	<% elsif @category.area == "games" %>
		<div class="span12-12"><h2><i class="fa fa-gamepad"></i> Games<small>Achievement Unlocked!</small></h2></div>
	<% end %>
	
	<div class="span8-12">
		<h4><%= @category.name -%><small><%= @category.description -%></small></h4>
		
		<ul class="unstyled">
			<% if @category.area == "drinks" %>
				<% @category.drinks.where(:visible => true).order(name: :asc).each do |drink| %>
					<% if drink.call_out? %>
					<li class="callout_box">
					<% else %>
					<li>
					<% end %>
						<strong class="large"><%= link_to drink.name, drink_path(drink) -%></strong><%= simple_format drink.description -%>
						<% if admin_signed_in? -%><div class="text-right">Image: <%= drink.drink_image? -%> | Average Rating: <%= raw star_view drink.average_rating -%> | <%= link_to 'Edit', edit_drink_path(drink) %> | <%= link_to 'Destroy', drink, method: :delete, data: { confirm: 'Are you sure?' } %></div><% end -%>
					</li>
				<% end %>
			<% elsif @category.area == "games" %>
				<% @category.games.where(:visible => true).order(name: :asc).each do |game| %>
					<li>
						<strong class="large"><%= image_tag game.cover_art.thumb, :height => "50", :class => "float-left" -%>  <%= link_to game.name, game_path(game) -%></strong><%= simple_format truncate game.description, length: 128 -%>
						<% if admin_signed_in? -%><div class="text-right">Image: <%= game.cover_art? -%> | <%= link_to 'Edit', edit_game_path(game) %> | <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></div><% end -%>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
	
	<div class="span4-12">
		<% if @category.area == "drinks" %>
			<%= render 'shared/drink_search_form' %>
			<% if admin_signed_in? %>
				<h5>Admin Options</h5>
				<div class="dq-buttons pad-bottom">
					<%= link_to 'Go Back to Categories', beverages_path, :class => "lnk-button full back" %>

					<%= link_to 'Add New Drink to this Category', new_drink_path(:category_id => @category.id), :class => "lnk-button full pad-space new" %>

					<%= link_to 'Edit Drink Category', edit_category_path(@category), :class => "lnk-button full edit" %>
					<%= link_to 'Destroy Drink Category', @category, method: :delete, data: { confirm: 'Are you sure? This will destory all items under this category as well. It is recommended to just change the visibilty of the category.' }, :class => "lnk-button full cancel delete" %>
				</div>
				<h5>Hidden Drinks</h5>
				<ul class="unstyled lined">
					<% @category.drinks.where(:visible => false).each do |drink| %>
						<li><strong><%= link_to drink.name, edit_drink_path(drink) -%></strong></li>
					<% end %>
				</ul>
				
				<h5>All Hidden Drinks</h5>
				<ul class="unstyled lined">
					<% @all_hidden.each do |drink| %>
						<li><strong><%= link_to drink.name, edit_drink_path(drink) -%></strong><br/>In <%= drink.category.name -%></li>
					<% end %>
				</ul>
				<div class="text-right"><%= link_to "See All Hidden Items", hidden_beverages_path %></div>
			<% else %>
				<div class="dq-buttons pad-bottom">
					<%= link_to 'Go Back', beverages_path, :class => "lnk-button full" %>
				</div>
				<%= render 'shared/whycraft' %>
			<% end %>
		<% elsif @category.area == "games" %>
			<%= render 'shared/game_search_form' %>
			<% if admin_signed_in? %>
				<h5>Admin Options</h5>
				<div class="dq-buttons pad-bottom">
					<%= link_to 'Go Back to Categories', play_path, :class => "lnk-button full" %>

					<%= link_to 'Add New Game to this Category', new_game_path(:category_id => @category.id), :class => "lnk-button full pad-space" %>

					<%= link_to 'Edit Game Category', edit_category_path(@category), :class => "lnk-button full" %>
					<%= link_to 'Destroy Game Category', @category, method: :delete, data: { confirm: 'Are you sure? This will destory all items under this category as well. It is recommended to just change the visibilty of the category.' }, :class => "lnk-button full cancel" %>
				</div>

				<h5>Hidden Games</h5>
				<ul class="unstyled">
					<% @category.games.where(:visible => false).each do |game| %>
						<li><strong><%= link_to game.name, edit_game_path(game) -%></strong></li>
					<% end %>
				</ul>
				
				<h5>All Hidden Games</h5>
				<ul class="unstyled lined">
					<% @all_hidden.each do |game| %>
						<li><strong><%= link_to game.name, edit_game_path(game) -%></strong><br/>In <%= game.category.name -%></li>
					<% end %>
				</ul>
				<div class="text-right"><%= link_to "See All Hidden Items", hidden_play_path %></div>
			<% else %>
				<div class="dq-buttons pad-bottom">
					<%= link_to 'Go Back', play_path, :class => "lnk-button full" %>
				</div>
				<%= render 'shared/wannaplay' %>				
			<% end %>
		<% end %>
	</div>
	
</div>