<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	<!-- Designed by Attis Bijlani (dequark.com) -->
	<!-- Server Time: <%= Time.zone.now -%> -->
	<!-- Server Day Name: <%= Time.zone.now.strftime('%A') -%> -->
	<title><%= yield(:title) %>Player 1 Video Game Bar</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="Player 1 Orlando Video Game Bar. Beer, Games, and Music." />
	<meta name="author" content="Attis Bijlani" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/includes/apple-touch-icon.png" />

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	
	
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--[if lt IE 8]><link rel="stylesheet" href="/includes/ie7.css" type="text/css" charset="utf-8" /><![endif]-->

</head>
<% if admin_signed_in? -%>
<body class="light">
<% else -%>
<body class="dark">
<% end -%>

<!-- Begin Social Scripts -->
	<div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/platform.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!-- End Social Scripts -->


	
	<% if flash[:notice] %><div class="notice"><div class="content"><%= notice %></div></div><% end %>
	<% if flash[:alert] %><div class="alert"><div class="content"><%= alert %></div></div><% end %>

	<header>
		<div class="content">
			<div class="span12-12">
				<a href="/" id="header_logo">Player 1 - Video Game Bar</a>
			</div>
		</div>
	</header>
	

	<div class="page_content">
<%= yield %>
	</div>
	

	<!-- Google Tracking -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-43137120-1', 'player1orlando.com');
	  ga('send', 'pageview');

	</script>	

	<script src="/includes/dequark_functions.js" type="text/javascript" charset="utf-8"></script>
	
</body>
</html>